name: reddit-minimal

on:
  workflow_dispatch:

jobs:
  run-reddit-minimal:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Test print
        run: |
          python3 -c "print('Hello Reddit')"
